<div class="container">
  <h2 class="winner my-show-hide-animation" ng-show="game.winner">Player {{game.winner.playerNumber}} WINS!</h2>
  <h4 class="turn" ng-hide="game.winner || game.draw">Player {{game.currentPlayer.playerNumber}}'s Turn</h4>
  <button type="button" class="btn btn-success my-show-hide-animation" ng-click="game.newGame()" ng-show="game.winner || game.draw" id="new_game_button">New Game</button>
  <button type="button" class="btn btn-danger my-show-hide-animation" ng-click="game.giveUp()" ng-show="game.moveCount > 1" id="defeat_button">Concede Defeat</button>

  <div class="placeholders centered">
    <table table-bordered>
      <tbody>
        <tr ng-repeat="placeholders in game.placeholders">
          <td ng-repeat="placeholder in placeholders" class="placeholder"  ng-mouseenter="game.showPlaceholderOnTop(placeholder)" ng-mouseleave="game.hidePlaceholderOnTop(placeholder)">
            <div class="circle" ng-class="{ 'circle visible-true player-2'  : (placeholder.visible === true && placeholder.player.playerNumber === 2), 'circle visible-true player-1'  : (placeholder.visible === true && placeholder.player.playerNumber === 1), 'circle'  : placeholder.visible === false, 'circle'  : placeholder.visible === false }"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="board centered">
    <table table-bordered>
      <tbody>
        <tr ng-repeat="row in game.board">
          <td class="position" ng-repeat="column in row track by $index" ng-click="game.move(column)" ng-mouseenter="game.showPlaceholder(column)" ng-mouseleave="game.hidePlaceholder(column)">
            <div class="circle" ng-class="{ 'circle filled-true-2'  : (column.animation === true && column.player.playerNumber === 2), 'circle filled-true-1'  : (column.animation === true && column.player.playerNumber === 1), 'circle'  : column.animation === false, 'circle'  : column.animation === false }"> </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
