<div class="container">
  <div class="board centered">
    <table table-bordered>
      <tbody>
        <tr ng-repeat="row in game.board">
          <td class="position" ng-repeat="column in row" ng-click="move(column)" ng-mouseenter="showPlaceholder($index)" ng-mouseleave="hidePlaceholder($index)">
            <div class="circle filled-{{column.filled}}-{{column.player}}"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
