<% include layout %>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 id="welcome">Welcome to Connect Four</h1>
        </div>
      </div>
    </div>

      <main-game> </main-game>

      <main-footer></game-footer>
  </body>
</html>
