<!DOCTYPE html>
  <html ng-app="ConnectFour" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" lang="en">
    <head>
      <title>ConnectFour</title>
      <meta property="og:title" content="ConnectFour"/>
      <script type="text/javascript" src="public/javascripts/vendor/angular.js"></script>
      <script type="text/javascript" src="public/javascripts/vendor/angular-route.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
      <script type="text/javascript" src="public/javascripts/vendor/lodash.underscore.min.js"></script>
      <script type="text/javascript" src="public/javascripts/app.js"></script>
      <script type="text/javascript" src="public/javascripts/app-game.js"></script>
      <link rel="stylesheet" type="text/css"href="public/stylesheets/bootstrap.min.css"/>
      <link rel="stylesheet" type="text/css"href="public/stylesheets/style.css"/>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
      <script type="text/javascript" src="public/javascripts/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
    </head>